Pods/
*.xcworkspace
!DialerID.xcodeproj/project.xcworkspace
DerivedData/
build/
Secrets.xcconfig
**/GoogleService-Info.plist
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.DS_Store
