Vendor/linphone-extracted/
Vendor/linphone-sdk-pod/Frameworks
Vendor/linphone-sdk-pod/linphonesw
Pods/
*.xcworkspace
!DialerID.xcodeproj/project.xcworkspace
DerivedData/
build/
Secrets.xcconfig
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.DS_Store
